.counter-table-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.buttons-container button {
  min-width: 20%;
}

.result-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
}