:root {
  --mono1: #FFFFF0;
  --mono2: #e5e5d8;
  --mono3: #ccccc0;
  --mono4: #b2b2a8;
  --mono5: #999990;
  --mono6: #7f7f78;
  --mono7: #666660;
  --mono8: #474743;
  --mono9: #333330;
  --mono10: #262624;
  --mono11: #191918;
  --mono12: #0d0d0c;
  --light-important-color: #FF8A4D;
  --med-important-color: #FF5800;
  --dark-important-color: #B33E00;
  --light-comp-color: #4DC1FF;
  --med-comp-color: #00A7FF;
  --dark-comp-color: #0075B3;
}

header div {
  text-align: center;
  color: var(--med-important-color);
  font-style: oblique;
  font-size: 2em;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

table {
  flex-grow: 1;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 2vh;
}

table td, table th {
  padding: 5px;
  text-align: center;
  width: 28px;
  height: 28px;
  margin: 0;
  border: 0px;
}

table th {
  background-color: var(--mono10);
  color: var(--light-important-color);
}

table td {
  background-color: var(--mono10);
  cursor: pointer;
}

table td:hover {
  background-color: var(--dark-important-color);
  color: var(--mono1);
}

table tbody tr:nth-child(odd) > td:nth-child(odd), table tbody tr:nth-child(even) > td:nth-child(even) {
  background-color: var(--mono8);
}
table tbody tr:nth-child(odd) > td:nth-child(odd):hover, table tbody tr:nth-child(even) > td:nth-child(even):hover {
  background-color: var(--light-important-color);
  color: var(--mono12);
}

button {
  padding: 0.25rem;
  background: var(--light-important-color);
  color: var(--mono10);
  border: none;
  font-style: inherit;
  font-family: inherit;
  font-size: 1.25rem;
  cursor: pointer;
  outline: inherit;
  margin: 5px;
}
